In [361]:
import pandas as pd
data = pd.read_csv('data.csv')
data

,id,name,has_lights,park,field_usage,goal_post,infield_type,left_field_distance,center_field_distance,right_field_distance,...,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1914615260,Arlington Field 1,t,Arlington Park,Diamond Only,0,Skinned,160.0,230.0,290.0,...,South Side Slopes,3,16,42003160800,3,16,3,22-Apr,40.418314,-79.975007
1,1151740179,Armstrong,f,Armstrong Park,Diamond and Rectangular,0,Skinned,240.0,163.0,122.0,...,South Side Flats,3,17,42003170200,3,17,3,24-Apr,40.428074,-79.985662
2,971009139,Bandbox,f,Arsenal Park,Diamond Only,0,Skinned,135.0,200.0,150.0,...,Lower Lawrenceville,7,6,42003060300,2,6,2,3-Mar,40.466331,-79.961299
3,1581124728,Banksville,f,Banksville Park,Diamond Only,0,Skinned,304.0,354.0,373.0,...,Banksville,2,20,42003202300,5,20,6,9-Apr,40.413923,-80.039940
4,1052125703,Banksville School,t,Banksville School Park,Diamond Only,0,Skinned,180.0,175.0,185.0,...,Banksville,2,20,42003202300,5,20,6,9-Apr,40.407059,-80.037870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,88488317,Westwood Field 2,t,Westwood School Park,Diamond and Rectangular,0,Skinned,360.0,255.0,160.0,...,Westwood,2,28,42003563100,5,28,6,18-Jan,40.430285,-80.050228
110,1139931087,Wightman,f,Wightman Park,Diamond Only,0,Skinned,268.0,195.0,167.0,...,Squirrel Hill North,8,14,42003140300,3,14,4,18-Feb,40.443402,-79.927392
111,916748391,Willie Stargell,t,Homewood Park,Diamond and Rectangular,0,Skinned,365.0,295.0,225.0,...,Homewood South,9,13,42003130300,2,13,5,17-Mar,40.453815,-79.899708
112,2031862261,Winters,f,Winters Park,Diamond Only,0,Skinned,230.0,210.0,165.0,...,South Side Slopes,3,17,42003170600,3,17,3,3-Apr,40.422306,-79.981513
113,2136373152,Olympia Soccer Field,t,Emerald View Park - Olympia Park,Rectangular Only,0,NaN,NaN,NaN,NaN,...,Mount Washington,2,19,42003190300,5,19,3,1-Apr,40.430300,-80.018662

In [362]:
data.columns

Index(['id', 'name', 'has_lights', 'park', 'field_usage', 'goal_post',
       'infield_type', 'left_field_distance', 'center_field_distance',
       'right_field_distance', 'backstop', 'neighborhood', 'council_district',
       'ward', 'tract', 'public_works_division', 'pli_division', 'police_zone',
       'fire_zone', 'latitude', 'longitude'],
      dtype='object')

In [363]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     114 non-null    int64
 1   name                   114 non-null    object
 2   has_lights             114 non-null    object
 3   park                   114 non-null    object
 4   field_usage            114 non-null    object
 5   goal_post              114 non-null    int64
 6   infield_type           95 non-null     object
 7   left_field_distance    94 non-null     float64
 8   center_field_distance  94 non-null     float64
 9   right_field_distance   94 non-null     float64
 10  backstop               0 non-null      float64
 11  neighborhood           114 non-null    object
 12  council_district       114 non-null    int64
 13  ward                   114 non-null    int64
 14  tract                  114 non-null    int64
 15  public_works_division  114 non-null    int64
 16  pli_division           114 non-null    int64
 17  police_zone            114 non-null    int64
 18  fire_zone              114 non-null    object
 19  latitude               114 non-null    float64
 20  longitude              114 non-null    float64
dtypes: float64(6), int64(8), object(7)
memory usage: 18.8+ KB

In [364]:
data.duplicated().sum()

0

In [365]:
data.isna().sum()

id                         0
name                       0
has_lights                 0
park                       0
field_usage                0
goal_post                  0
infield_type              19
left_field_distance       20
center_field_distance     20
right_field_distance      20
backstop                 114
neighborhood               0
council_district           0
ward                       0
tract                      0
public_works_division      0
pli_division               0
police_zone                0
fire_zone                  0
latitude                   0
longitude                  0
dtype: int64

In [366]:
print(data.infield_type.unique())
print(' ')
print(data.left_field_distance.unique())
print(' ')
print(data.center_field_distance.unique())
print(' ')
print(data.right_field_distance.unique())

['Skinned' nan 'Grass' 'Grass with Skinned Baselines']

[160. 240. 135. 304. 180.  nan 210. 170. 260. 310. 196. 198. 182. 305.
 248. 217. 300. 200. 292. 175. 165. 275. 255. 185. 183. 274. 408. 370.
 264. 250. 311. 376. 362. 105. 340. 265. 130. 150. 350. 270. 415. 195.
 328. 297. 320. 269. 385. 367. 192. 178. 312. 155. 197. 280. 220. 330.
 189. 262. 206. 347. 360. 268. 365. 230.]

[230. 163. 200. 354. 175.  nan 250. 170. 375. 333. 240. 198. 193. 264.
 220. 320. 197. 300. 400. 372. 270. 180. 280. 362. 386. 257. 290. 368.
 315. 105. 360. 130. 210. 285. 405. 340. 370. 150. 185. 291. 366. 410.
 260. 395. 255. 310. 190. 276. 330. 195. 295.]

[290. 122. 150. 373. 185.  nan 240. 170. 252. 327. 180. 196. 198. 182.
 375. 178. 300. 197. 296. 190. 200. 275. 235. 255. 234. 267. 260. 273.
 188. 167. 350. 195. 105. 285. 237. 130. 154. 220. 295. 140. 215. 278.
 360. 189. 179. 155. 165. 312. 241. 365. 160. 280. 213. 205. 315. 183.
 325. 125. 187. 225.]

In [367]:
data.infield_type.value_counts()

Skinned                         86
Grass                            5
Grass with Skinned Baselines     4
Name: infield_type, dtype: int64

In [368]:
data['infield_type'] = data['infield_type'].fillna('Unknown')
data['infield_type'].value_counts()

Skinned                         86
Unknown                         19
Grass                            5
Grass with Skinned Baselines     4
Name: infield_type, dtype: int64

In [369]:
from sklearn.impute import SimpleImputer

left_field_imputed = data[['left_field_distance']]

#Instantiate a SimpleImputer with strategy="median"
imputer = SimpleImputer(strategy='median')

#Fit the imputer
imputer.fit(left_field_imputed)

#Transform left_field_imputed using the imputer and
# assign the result to leftfield_imputed
leftfield_imputed = imputer.transform(left_field_imputed)

leftfield_imputed

array([[160.],
       [240.],
       [135.],
       [304.],
       [180.],
       [235.],
       [210.],
       [170.],
       [260.],
       [310.],
       [196.],
       [198.],
       [198.],
       [182.],
       [235.],
       [235.],
       [305.],
       [248.],
       [217.],
       [300.],
       [200.],
       [292.],
       [175.],
       [165.],
       [300.],
       [275.],
       [255.],
       [185.],
       [180.],
       [235.],
       [183.],
       [274.],
       [408.],
       [370.],
       [235.],
       [235.],
       [264.],
       [170.],
       [250.],
       [311.],
       [180.],
       [376.],
       [362.],
       [105.],
       [235.],
       [340.],
       [265.],
       [130.],
       [150.],
       [350.],
       [270.],
       [270.],
       [415.],
       [235.],
       [195.],
       [328.],
       [297.],
       [320.],
       [200.],
       [200.],
       [183.],
       [269.],
       [185.],
       [385.],
       [235.],
       [367.],
       [192.],
       [178.],
       [175.],
       [200.],
       [270.],
       [300.],
       [235.],
       [180.],
       [312.],
       [311.],
       [130.],
       [300.],
       [155.],
       [235.],
       [235.],
       [250.],
       [235.],
       [235.],
       [197.],
       [280.],
       [235.],
       [220.],
       [200.],
       [200.],
       [235.],
       [235.],
       [175.],
       [200.],
       [330.],
       [200.],
       [270.],
       [189.],
       [235.],
       [175.],
       [262.],
       [185.],
       [330.],
       [195.],
       [105.],
       [235.],
       [206.],
       [269.],
       [347.],
       [360.],
       [268.],
       [365.],
       [230.],
       [235.]])

In [370]:
data['left_field_distance'] = leftfield_imputed
data.head()

,id,name,has_lights,park,field_usage,goal_post,infield_type,left_field_distance,center_field_distance,right_field_distance,...,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1914615260,Arlington Field 1,t,Arlington Park,Diamond Only,0,Skinned,160.0,230.0,290.0,...,South Side Slopes,3,16,42003160800,3,16,3,22-Apr,40.418314,-79.975007
1,1151740179,Armstrong,f,Armstrong Park,Diamond and Rectangular,0,Skinned,240.0,163.0,122.0,...,South Side Flats,3,17,42003170200,3,17,3,24-Apr,40.428074,-79.985662
2,971009139,Bandbox,f,Arsenal Park,Diamond Only,0,Skinned,135.0,200.0,150.0,...,Lower Lawrenceville,7,6,42003060300,2,6,2,3-Mar,40.466331,-79.961299
3,1581124728,Banksville,f,Banksville Park,Diamond Only,0,Skinned,304.0,354.0,373.0,...,Banksville,2,20,42003202300,5,20,6,9-Apr,40.413923,-80.039940
4,1052125703,Banksville School,t,Banksville School Park,Diamond Only,0,Skinned,180.0,175.0,185.0,...,Banksville,2,20,42003202300,5,20,6,9-Apr,40.407059,-80.037870

In [371]:
center_field_imputed = data[['center_field_distance']]

imputer.fit(center_field_imputed)

centerfield_imputed = imputer.transform(center_field_imputed)

centerfield_imputed

array([[230.],
       [163.],
       [200.],
       [354.],
       [175.],
       [235.],
       [250.],
       [170.],
       [375.],
       [333.],
       [240.],
       [198.],
       [198.],
       [193.],
       [235.],
       [235.],
       [375.],
       [264.],
       [220.],
       [320.],
       [197.],
       [300.],
       [170.],
       [175.],
       [400.],
       [372.],
       [270.],
       [240.],
       [180.],
       [235.],
       [180.],
       [280.],
       [362.],
       [386.],
       [235.],
       [235.],
       [257.],
       [175.],
       [290.],
       [368.],
       [180.],
       [315.],
       [270.],
       [105.],
       [235.],
       [360.],
       [360.],
       [130.],
       [210.],
       [285.],
       [290.],
       [290.],
       [405.],
       [235.],
       [175.],
       [340.],
       [340.],
       [370.],
       [150.],
       [200.],
       [185.],
       [291.],
       [197.],
       [285.],
       [235.],
       [366.],
       [200.],
       [198.],
       [170.],
       [200.],
       [200.],
       [410.],
       [235.],
       [180.],
       [320.],
       [260.],
       [130.],
       [395.],
       [185.],
       [235.],
       [235.],
       [255.],
       [235.],
       [235.],
       [200.],
       [320.],
       [235.],
       [270.],
       [200.],
       [200.],
       [235.],
       [235.],
       [175.],
       [200.],
       [230.],
       [200.],
       [310.],
       [193.],
       [235.],
       [190.],
       [240.],
       [200.],
       [300.],
       [175.],
       [105.],
       [235.],
       [276.],
       [330.],
       [230.],
       [255.],
       [195.],
       [295.],
       [210.],
       [235.]])

In [372]:
data['center_field_distance'] = centerfield_imputed
data.head()

,id,name,has_lights,park,field_usage,goal_post,infield_type,left_field_distance,center_field_distance,right_field_distance,...,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1914615260,Arlington Field 1,t,Arlington Park,Diamond Only,0,Skinned,160.0,230.0,290.0,...,South Side Slopes,3,16,42003160800,3,16,3,22-Apr,40.418314,-79.975007
1,1151740179,Armstrong,f,Armstrong Park,Diamond and Rectangular,0,Skinned,240.0,163.0,122.0,...,South Side Flats,3,17,42003170200,3,17,3,24-Apr,40.428074,-79.985662
2,971009139,Bandbox,f,Arsenal Park,Diamond Only,0,Skinned,135.0,200.0,150.0,...,Lower Lawrenceville,7,6,42003060300,2,6,2,3-Mar,40.466331,-79.961299
3,1581124728,Banksville,f,Banksville Park,Diamond Only,0,Skinned,304.0,354.0,373.0,...,Banksville,2,20,42003202300,5,20,6,9-Apr,40.413923,-80.039940
4,1052125703,Banksville School,t,Banksville School Park,Diamond Only,0,Skinned,180.0,175.0,185.0,...,Banksville,2,20,42003202300,5,20,6,9-Apr,40.407059,-80.037870

In [373]:
right_field_imputed = data[['right_field_distance']]

imputer.fit(right_field_imputed)

rightfield_imputed = imputer.transform(right_field_imputed)

rightfield_imputed

array([[290.],
       [122.],
       [150.],
       [373.],
       [185.],
       [200.],
       [240.],
       [170.],
       [252.],
       [327.],
       [180.],
       [196.],
       [198.],
       [182.],
       [200.],
       [200.],
       [375.],
       [178.],
       [170.],
       [300.],
       [197.],
       [296.],
       [190.],
       [200.],
       [275.],
       [235.],
       [255.],
       [200.],
       [180.],
       [200.],
       [180.],
       [234.],
       [267.],
       [260.],
       [200.],
       [200.],
       [273.],
       [188.],
       [167.],
       [350.],
       [180.],
       [195.],
       [182.],
       [105.],
       [200.],
       [285.],
       [237.],
       [130.],
       [154.],
       [260.],
       [220.],
       [220.],
       [295.],
       [200.],
       [140.],
       [215.],
       [285.],
       [278.],
       [150.],
       [200.],
       [185.],
       [196.],
       [190.],
       [190.],
       [200.],
       [360.],
       [189.],
       [179.],
       [155.],
       [200.],
       [165.],
       [312.],
       [200.],
       [180.],
       [312.],
       [241.],
       [130.],
       [365.],
       [160.],
       [200.],
       [200.],
       [280.],
       [200.],
       [200.],
       [165.],
       [290.],
       [200.],
       [213.],
       [200.],
       [200.],
       [200.],
       [200.],
       [200.],
       [185.],
       [205.],
       [200.],
       [315.],
       [190.],
       [200.],
       [183.],
       [325.],
       [185.],
       [327.],
       [196.],
       [125.],
       [200.],
       [200.],
       [365.],
       [187.],
       [160.],
       [167.],
       [225.],
       [165.],
       [200.]])

In [374]:
data['right_field_distance'] = rightfield_imputed
data.head()

,id,name,has_lights,park,field_usage,goal_post,infield_type,left_field_distance,center_field_distance,right_field_distance,...,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
0,1914615260,Arlington Field 1,t,Arlington Park,Diamond Only,0,Skinned,160.0,230.0,290.0,...,South Side Slopes,3,16,42003160800,3,16,3,22-Apr,40.418314,-79.975007
1,1151740179,Armstrong,f,Armstrong Park,Diamond and Rectangular,0,Skinned,240.0,163.0,122.0,...,South Side Flats,3,17,42003170200,3,17,3,24-Apr,40.428074,-79.985662
2,971009139,Bandbox,f,Arsenal Park,Diamond Only,0,Skinned,135.0,200.0,150.0,...,Lower Lawrenceville,7,6,42003060300,2,6,2,3-Mar,40.466331,-79.961299
3,1581124728,Banksville,f,Banksville Park,Diamond Only,0,Skinned,304.0,354.0,373.0,...,Banksville,2,20,42003202300,5,20,6,9-Apr,40.413923,-80.039940
4,1052125703,Banksville School,t,Banksville School Park,Diamond Only,0,Skinned,180.0,175.0,185.0,...,Banksville,2,20,42003202300,5,20,6,9-Apr,40.407059,-80.037870

In [375]:
drops = data[['backstop', 'fire_zone']]

data = data.drop(drops, axis=1)

In [376]:
data

,id,name,has_lights,park,field_usage,goal_post,infield_type,left_field_distance,center_field_distance,right_field_distance,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,latitude,longitude
0,1914615260,Arlington Field 1,t,Arlington Park,Diamond Only,0,Skinned,160.0,230.0,290.0,South Side Slopes,3,16,42003160800,3,16,3,40.418314,-79.975007
1,1151740179,Armstrong,f,Armstrong Park,Diamond and Rectangular,0,Skinned,240.0,163.0,122.0,South Side Flats,3,17,42003170200,3,17,3,40.428074,-79.985662
2,971009139,Bandbox,f,Arsenal Park,Diamond Only,0,Skinned,135.0,200.0,150.0,Lower Lawrenceville,7,6,42003060300,2,6,2,40.466331,-79.961299
3,1581124728,Banksville,f,Banksville Park,Diamond Only,0,Skinned,304.0,354.0,373.0,Banksville,2,20,42003202300,5,20,6,40.413923,-80.039940
4,1052125703,Banksville School,t,Banksville School Park,Diamond Only,0,Skinned,180.0,175.0,185.0,Banksville,2,20,42003202300,5,20,6,40.407059,-80.037870
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,88488317,Westwood Field 2,t,Westwood School Park,Diamond and Rectangular,0,Skinned,360.0,255.0,160.0,Westwood,2,28,42003563100,5,28,6,40.430285,-80.050228
110,1139931087,Wightman,f,Wightman Park,Diamond Only,0,Skinned,268.0,195.0,167.0,Squirrel Hill North,8,14,42003140300,3,14,4,40.443402,-79.927392
111,916748391,Willie Stargell,t,Homewood Park,Diamond and Rectangular,0,Skinned,365.0,295.0,225.0,Homewood South,9,13,42003130300,2,13,5,40.453815,-79.899708
112,2031862261,Winters,f,Winters Park,Diamond Only,0,Skinned,230.0,210.0,165.0,South Side Slopes,3,17,42003170600,3,17,3,40.422306,-79.981513
113,2136373152,Olympia Soccer Field,t,Emerald View Park - Olympia Park,Rectangular Only,0,Unknown,235.0,235.0,200.0,Mount Washington,2,19,42003190300,5,19,3,40.430300,-80.018662

In [377]:
data.isna().sum()

id                       0
name                     0
has_lights               0
park                     0
field_usage              0
goal_post                0
infield_type             0
left_field_distance      0
center_field_distance    0
right_field_distance     0
neighborhood             0
council_district         0
ward                     0
tract                    0
public_works_division    0
pli_division             0
police_zone              0
latitude                 0
longitude                0
dtype: int64

## CONVERT CATEGORICAL COLUMNS INTO NUMERICAL

In [378]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     114 non-null    int64
 1   name                   114 non-null    object
 2   has_lights             114 non-null    object
 3   park                   114 non-null    object
 4   field_usage            114 non-null    object
 5   goal_post              114 non-null    int64
 6   infield_type           114 non-null    object
 7   left_field_distance    114 non-null    float64
 8   center_field_distance  114 non-null    float64
 9   right_field_distance   114 non-null    float64
 10  neighborhood           114 non-null    object
 11  council_district       114 non-null    int64
 12  ward                   114 non-null    int64
 13  tract                  114 non-null    int64
 14  public_works_division  114 non-null    int64
 15  pli_division           114 non-null    int64
 16  police_zone            114 non-null    int64
 17  latitude               114 non-null    float64
 18  longitude              114 non-null    float64
dtypes: float64(5), int64(8), object(6)
memory usage: 17.0+ KB

In [379]:
print(data.has_lights.value_counts())
print(' ')
print(data.field_usage.value_counts())
print(' ')
print(data.infield_type.value_counts())

f    59
t    55
Name: has_lights, dtype: int64

Diamond Only               75
Diamond and Rectangular    20
Rectangular Only           19
Name: field_usage, dtype: int64

Skinned                         86
Unknown                         19
Grass                            5
Grass with Skinned Baselines     4
Name: infield_type, dtype: int64

In [380]:
from sklearn.preprocessing import OrdinalEncoder

lights = data[['has_lights']]

#Instantiate an OrdinalEncoder
encoder = OrdinalEncoder()

#Fit the encoder
encoder.fit(lights)

encoder.categories_

[array(['f', 't'], dtype=object)]

In [381]:
#Transform using the encoder and assign the result
haslights = encoder.transform(lights).flatten()

haslights

array([1., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1.,
       1., 1., 1., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0.,
       1., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1.,
       1., 1., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 1., 0.,
       0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1.,
       1., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 1.])

In [382]:
#Replace value of has_lights
data['has_lights'] = haslights
data.head()

,id,name,has_lights,park,field_usage,goal_post,infield_type,left_field_distance,center_field_distance,right_field_distance,neighborhood,council_district,ward,tract,public_works_division,pli_division,police_zone,latitude,longitude
0,1914615260,Arlington Field 1,1.0,Arlington Park,Diamond Only,0,Skinned,160.0,230.0,290.0,South Side Slopes,3,16,42003160800,3,16,3,40.418314,-79.975007
1,1151740179,Armstrong,0.0,Armstrong Park,Diamond and Rectangular,0,Skinned,240.0,163.0,122.0,South Side Flats,3,17,42003170200,3,17,3,40.428074,-79.985662
2,971009139,Bandbox,0.0,Arsenal Park,Diamond Only,0,Skinned,135.0,200.0,150.0,Lower Lawrenceville,7,6,42003060300,2,6,2,40.466331,-79.961299
3,1581124728,Banksville,0.0,Banksville Park,Diamond Only,0,Skinned,304.0,354.0,373.0,Banksville,2,20,42003202300,5,20,6,40.413923,-80.039940
4,1052125703,Banksville School,1.0,Banksville School Park,Diamond Only,0,Skinned,180.0,175.0,185.0,Banksville,2,20,42003202300,5,20,6,40.407059,-80.037870

## MULTIPLE CATEGORIES

In [383]:
from sklearn.preprocessing import OneHotEncoder

cat_columns= ['field_usage', 'infield_type']

#Instantiate an OrdinalEncoder
ohe = OneHotEncoder(categories="auto", sparse=False, handle_unknown="ignore")

#fit encoder
ohe.fit(data[cat_columns])

#get new column names
new_cat_columns = ohe.get_feature_names(input_features=cat_columns)

#transform
columns = pd.DataFrame(ohe.fit_transform(data[cat_columns]), columns=new_cat_columns, index=data.index)

#replace the columns with transformed ones
data = pd.concat([data.drop(cat_columns, axis=1), columns], axis=1)
data.head(25)

,id,name,has_lights,park,goal_post,left_field_distance,center_field_distance,right_field_distance,neighborhood,council_district,...,police_zone,latitude,longitude,field_usage_Diamond Only,field_usage_Diamond and Rectangular,field_usage_Rectangular Only,infield_type_Grass,infield_type_Grass with Skinned Baselines,infield_type_Skinned,infield_type_Unknown
0,1914615260,Arlington Field 1,1.0,Arlington Park,0,160.0,230.0,290.0,South Side Slopes,3,...,3,40.418314,-79.975007,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1151740179,Armstrong,0.0,Armstrong Park,0,240.0,163.0,122.0,South Side Flats,3,...,3,40.428074,-79.985662,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,971009139,Bandbox,0.0,Arsenal Park,0,135.0,200.0,150.0,Lower Lawrenceville,7,...,2,40.466331,-79.961299,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1581124728,Banksville,0.0,Banksville Park,0,304.0,354.0,373.0,Banksville,2,...,6,40.413923,-80.039940,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1052125703,Banksville School,1.0,Banksville School Park,0,180.0,175.0,185.0,Banksville,2,...,6,40.407059,-80.037870,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5,491692062,Bigbee,0.0,Emerald View Park - Bigbee Field Park,0,235.0,235.0,200.0,Allentown,3,...,3,40.427849,-80.001223,0.0,0.0,1.0,0.0,0.0,0.0,1.0
6,332143201,Bill Stoltz,1.0,Arlington Park,0,210.0,250.0,240.0,South Side Slopes,3,...,3,40.418624,-79.974959,1.0,0.0,0.0,0.0,0.0,1.0,0.0
7,800768920,Brighton Heights Field 1,0.0,Brighton Heights Park,0,170.0,170.0,170.0,Brighton Heights,1,...,1,40.488582,-80.033072,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,742572488,Brighton Heights Field 2,0.0,Brighton Heights Park,0,260.0,375.0,252.0,Brighton Heights,1,...,1,40.488152,-80.032783,1.0,0.0,0.0,0.0,0.0,1.0,0.0
9,183023484,Brighton Heights Field 3 - John Merry,0.0,Brighton Heights Park,0,310.0,333.0,327.0,Brighton Heights,1,...,1,40.487739,-80.032533,1.0,0.0,0.0,0.0,0.0,1.0,0.0
10,228456835,Brighton Heights Field 4,0.0,Brighton Heights Park,0,196.0,240.0,180.0,Brighton Heights,1,...,1,40.486366,-80.031222,1.0,0.0,0.0,0.0,0.0,1.0,0.0
11,2054874405,Brighton Heights Field 5,0.0,Brighton Heights Park,0,198.0,198.0,196.0,Brighton Heights,1,...,1,40.486033,-80.030631,1.0,0.0,0.0,0.0,0.0,1.0,0.0
12,604996899,Brighton Heights Field 6 - Camelius Sangnini,0.0,Brighton Heights Park,0,198.0,198.0,198.0,Brighton Heights,1,...,1,40.486502,-80.029869,1.0,0.0,0.0,0.0,0.0,1.0,0.0
13,1281324044,Bud Hammer,0.0,Bud Hammer Park,0,182.0,193.0,182.0,Hazelwood,5,...,4,40.420486,-79.946570,1.0,0.0,0.0,0.0,0.0,1.0,0.0
14,456911521,Burgwin,1.0,Burgwin Park,1,235.0,235.0,200.0,Hazelwood,5,...,4,40.404448,-79.937334,0.0,0.0,1.0,0.0,0.0,0.0,1.0
15,72518444,Chadwick,0.0,Chadwick Park,2,235.0,235.0,200.0,Lincoln-Lemington-Belmar,9,...,5,40.465665,-79.891754,0.0,0.0,1.0,0.0,0.0,0.0,1.0
16,238269429,Chartiers,1.0,Chartiers Park,0,305.0,375.0,375.0,Windgap,2,...,6,40.456996,-80.074073,1.0,0.0,0.0,0.0,0.0,1.0,0.0
17,1324608669,Cowley Field 1,1.0,Cowley Park,0,248.0,264.0,178.0,Troy Hill,1,...,1,40.458492,-79.988961,1.0,0.0,0.0,0.0,0.0,1.0,0.0
18,1984325264,Cowley Field 2,1.0,Cowley Park,0,217.0,220.0,170.0,Troy Hill,1,...,1,40.458413,-79.989389,1.0,0.0,0.0,0.0,0.0,1.0,0.0
19,1120335247,Dan Marino,1.0,Frazier Park,0,300.0,320.0,300.0,South Oakland,3,...,4,40.429253,-79.954681,1.0,0.0,0.0,0.0,0.0,1.0,0.0
20,1075365641,Danny McGibbeny Memorial Field,0.0,Brookline Memorial Park,2,200.0,197.0,197.0,Brookline,4,...,6,40.391611,-80.006884,0.0,1.0,0.0,0.0,0.0,1.0,0.0
21,303372721,Devlin,0.0,Devlin Field Park,0,292.0,300.0,296.0,Arlington,3,...,3,40.414049,-79.962344,1.0,0.0,0.0,0.0,0.0,1.0,0.0
22,140274785,Dilworth Field 1 Lower,1.0,Emerald View Park - Mt. Washington Park,0,175.0,170.0,190.0,Mount Washington,2,...,3,40.424360,-80.014782,1.0,0.0,0.0,0.0,0.0,1.0,0.0
23,1963449609,Dilworth Field 2 Upper,1.0,Emerald View Park - Mt. Washington Park,0,165.0,175.0,200.0,Mount Washington,2,...,3,40.424510,-80.014189,1.0,0.0,0.0,0.0,0.0,1.0,0.0
24,1469969693,Dunbar Field 1,1.0,Dunbar Park,0,300.0,400.0,275.0,Crafton Heights,2,...,6,40.438910,-80.052137,1.0,0.0,0.0,0.0,0.0,1.0,0.0